<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="./css/style.css">
 
</head>
<body>
  <div class="nav-wrapper">
  <nav>
    <h1 id="logo">Y/TTV</h1>
    <ul>
      <li><a href="./userhomepage.php">Home</a></li>
      <li><a href="creators2.php">Creators</a></li>
      <li><a href="./favourites.php">My Favorites</a></li>
      <li> <a href="./logout.php">Logout</a></li>
      <li> <a href="./userprofile.php">View Profile</a></li>
    </ul>
  </nav>
</div>
</body>
</html>
